.amenity span {
    margin-left: 16px;
    vertical-align: top;
    line-height: 24px;
}

.amenity {
    margin-bottom: 15px;
}

.amenity-pets span {
    margin-left: 16px;
    vertical-align: top;
    line-height: 24px;
}
