.search-bar-wrapper {
    display: flex;
    position: relative;
    width: 352px;
    height: 48px;
    border: solid 1.3px rgba(0, 0, 0, 0.07);
    border-radius: 25px;
    padding: 0 10px;
}

.search-bar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.search-bar-input {
    border: 0;
    outline: 0;
    font-size: 15px;
}

.search-icon {
    content: '';
    background-color: rgb(255, 56, 92);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* margin-left: 150px; */
    cursor: pointer;
}

@media (max-width: 900px) {
    .search-bar-wrapper {
        /* margin-left: -50px; */
        width: 200px;
        min-width: 20px;
    }

    .search-bar-content {
        width: 200px;
    }

}

@media (max-width: 630px) {
    .search-bar-wrapper, .search-bar-content {
        display: none;
    }
}
