@media (min-width: 1127px) {
    .spot-show-page {
        padding-left: 80px ;
        padding-right: 80px;
    }
}

/* @media (max-width: 1127px) {
    .spot-show-page {
        width: 90.5vw;
    }
} */

.spot-show-page {
    width: 86.32vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 1120px;
    justify-self: center;
    padding: 0 40px;
}

.single-spot-bottom-left {
    width: 50vw;
}

.spot-name {
    font-weight: 450;
    letter-spacing: 1px;
    font-size: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
}

.details-edit-spot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 5px;
}

.avgStarRating-numReviews-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13.5px;
    padding-top: 10px;
    padding-bottom: 19px;
    font-weight: 450
}

.edit-delete-actions {
    display: flex;
}

@media (max-width: 700px) {
    .edit-delete-actions {
        display: none
    }
}

.edit-spot-button {
    display: flex;
    align-items: center;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 19px;
    border: none;
    background-color: transparent;
}

.delete-spot-button {
    display: flex;
    align-items: center;
    padding-right: 1px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 19px;
    border: none;
    background-color: transparent;
}

.fa-regular.fa-pen-to-square {
    height: 16.5px
}

.fa-solid.fa-trash-can {
    height: 16.5px;
}

.OpenModalButton.edit-spot-modal-button {
    padding-right: 0px;
    padding-left: 5px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.OpenModalButton.edit-spot-modal-button:hover {
    text-decoration: underline;
}

.edit-spot-button:hover {
    cursor: pointer;
}

.OpenModalButton.delete-spot-modal-button {
    padding-right: 0px;
    padding-left: 5px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.OpenModalButton.delete-spot-modal-button:hover {
    text-decoration: underline;
}

.delete-spot-button:hover {
    cursor: pointer;
}

#avgStarRating {
    display: flex;
    align-items: center;
    padding-right: 3px;
}

#numReviews {
    padding-left: 3px;
    padding-right: 5px;
}

#star {
    margin-left: -4px;
    height: 20px;
    margin-top: -0.5px;
}

#period {
    /* padding-bottom: 5px; */
    color: black;
    font-size: 8.5px;
}

#city-state-country {
    padding-left: 5px
}

.spot-images-container {
    display: flex;
    flex-direction: row;
    max-width: 1120px;
    min-width: 650px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    aspect-ratio: 2/1;
}

.main-image-container {
    width: 50%;
    height: 100%;
}

.main-image-container img {
    /* width: 100%; */
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.main-image {
    height: 100%;
    width: 98.9%;
    object-fit: cover;
    aspect-ratio: 1;
}

.second-col-images-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.third-col-images-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    justify-content: space-between;
    align-items: flex-end;
}

.other-image {
    height: 49.25%;
    width: 97.8%;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 1;
}

#image-3 {
    border-top-right-radius: 12px;
}

#image-4 {
    border-bottom-right-radius: 12px;
}

.single-spot-header {
    padding-bottom: 25px;
    border-bottom: solid 1px rgba(0,0,0,0.15);
}

.hosted-by {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.left-spot-description {
    width: 100%;
}

.more-description {
    padding: 20px 0;
    border-bottom: solid 1px rgba(0,0,0,0.15);
}

.icons-8-door {
    height: 33px;
    margin-left: -6px;
    padding-bottom: 10px;
}

.pin {
    height: 33px;
    margin-left: -5px;
    padding-bottom: 8px;
}

.calendar {
    height: 30px;
    margin-left: -1px;
    padding-top: 3px;
}

.detail-title {
    display: flex;
    align-items: center;
}

.great-location {
    display: flex;
    align-items: center;
}

.title-p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.fa-door-closed {
    height: 30px
}

h3 {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 450;
}

.title-p p {
    margin-top: 5px;
    font-size: 13px;
}

h2 {
    font-size: 20px;
    font-weight: 450;
}

p {
    font-size: 16px;
    font-weight: 300;
}

.aircover {
    padding: 32px 0;
    border-bottom: solid 1px rgba(0,0,0,0.15);
}

.aircover-description {
    letter-spacing: 0.3px;
}

.aircover-image {
    width: 125px;
}

h4 {
    font-size: 16px;
    font-weight: 349;
    margin-bottom: 0;
}

.guest-room-details {
    display: flex;
    flex-direction: row;
    color: #222222;
    font-size: 16px;
    font-weight: 300;
}

.bed-dot {
    padding: 0 5px 0 5px;
}

.spot-description {
    font-weight: 300 !important;
    font-size: 16px;
    padding: 32px 0;
    letter-spacing: 0.3px;
    border-bottom: solid 1px rgba(0,0,0,0.15);
}

.where-sleep-container {
    padding: 48px 0;
    border-bottom: solid 1px rgba(0,0,0,0.15);
}

.where-sleep-header, .place-offers-header {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.show-sleep-box-container {
    margin-top: 24px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    width: 159px;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sleep-box-content {
    height: 100%;
}

.bed-svg {
    margin-bottom: 18px;
}

.bed-area {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.spot-beds-queen {
    font-size: 14px;
    font-weight: 300;
}

.place-offers-container {
    padding: 48px 0;
}
