button.demo-log-in {
    color: white;
    padding: 15px 20px;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: opacity 1.25s ease 0s !important;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    width: 100%;
    margin-top: 25px;
  }
