.nav-bar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: white;
}

li.login-signup-links > a {
    padding: 10px;
}

/* Profile button styles */
/* .profile-button {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    position: sticky;
} */

/* Profile dropdown styles */
.profile-dropdown {
    display: flex;
    flex-direction: column;
    background-color: white;
    list-style: none;
}

.profile-dropdown > li {
    padding: 10px;
}

.hidden {
    display: none;
}

.logo {
    height: 50px;
    width: 75px;
}

i.fas.fa-user-circle {
    width: 50px;
    color: #717171;
}

i.fa-sharp.fa-solid.fa-bars {
    color: #717171;
    margin-left: 8px;
    margin-right: 12px;
}

.profile-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 79px;
    height: 42px;
    border-radius: 21px;
    border: solid 1px rgba(0,0,0,0.15);
    background: transparent;
    cursor: pointer;
}

.profile-button:hover {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
